body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


    .container .search-window{
        padding-top: 50px
    }
    

    #searchForm > .form-group > input{
        width: 80%;
        margin: 0 auto;
        display:block;
        text-align: center;
    }
    
    #movieYear {
        height: 50% !important; 
        width: 50% !important;
    }

    #resultCount{
        text-align:center;
    }

    #submitBtn{
        float:right;
        margin: 5px auto;
    }